.header {
    background-color: lightgray;
    width: auto;
    border: 2px solid darkgray;
    border-radius: 2px;

}

.header img {
    padding: 10px 10px 10px 10px;
    width: 64px;
    height: 64px;
}